<h1>Don't you want to talk about your cats?</h1>

<form method="POST" action='/users'>
  <label>name</label><br/>
  <input type="text" name="name"><br />


  <label>email</label><br/>
  <input type="text" name="email"><br/>
  
  <label>password</label><br/>
  <input type="password" name="password">
  
  <input type="submit" value="Sign Up!">
</form>